body {}
.contenedor_1{
	width:980px; 
	margin:0 auto;
}
/* distancia espaciado formulario*/
.contenedor_1 p {
	margin:5px;
	padding:0;
}
/* estilo para los labels del formulario */
.contenedor_1 label {
	font-weight:bold;
}
/* estilo input text */
.contenedor_1 form input[type=text] {
	width: 50%;
	padding: 5px;
}
